@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("./blocks/header.css");
@import url("./blocks/main.css");
@import url("./blocks/footer.css");
@import url("./helpers/buttons.css");


html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1980px;
  height: 100%;

  padding: 0 120px;
  margin: 0 auto;
}